@import "header";
@import "fuentes";
  footer{
    background-color: rgb(156, 96, 16);
    background: transparent;
    position: relative;
    top: 60px;
    flex-wrap: wrap;
    display: inline;
  }
  body{
    background-color: black;
  }
  ul{
    text-decoration: none;
  }
  
  .fondo2{
    background-color: cornflowerblue;
  }
  .letra1{
    font-style: italic;
    font-size: 60px;
    color: darkslateblue;
  }
  .letra2{
    font-style: oblique;
    font-family: cursive;
    color: rgb(179, 154, 15);
    font-size: 60px;    
  }
  table{
   background-color: rgb(207, 196, 255);
   font-size: 50px;
  }
  .letra3{
    font-style: italic;
    color: dimgray;
  }
  ol{
    border: solid; color: rgb(241, 218, 9); 
  }
  
  .cuadro{
    background-color: rgb(202, 150, 150);
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 40px;
  }
  
  .cuadro2{
    content: 40px;
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px
  }
  .cuadro3{
    border: thin; outline-color: blue;
    color: brown;
  }
  
  .cuadroencuesta {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-position: 30px;
    background-color: rgb(239, 237, 248);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: darksalmon;
  }
  .hombre{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blue;
  }
  .mujer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blueviolet;
  }
  .fondopantalla{
    background-image: url(https://images6.alphacoders.com/445/445922.jpg);
  }
  .letraproductos{
    font-family: Arial, Helvetica, sans-serif;
    color: darkkhaki;
  }
  /*GRID INDEX*/
  .gridIndex{
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;}
  
  header{grid-area: header;}
  main{grid-area: main;}
  footer{grid-area: footer;}

  .foter2{
    flex-wrap: wrap;
    display: inline;
    position: relative;
  }
  
  /*MEDIAQUERIE*/
  /*MOBILE*/
  @media only screen and (max-width: 768px){}
  .formulario {
    max-width: auto;
    line-break: anywhere;
  }
  .imagen3{
    max-width: 100%;
    height: auto;
  }
  .fondodegrade {
    background-image: linear-gradient(to left, red , yellow);
    font-size: 40px;
   }
  .fondonew {
    width: 100px;
    height: 100px;
    background-color: rgba(255,0,0,0.9);
    transform: skewY(25deg)
  }
  .titulonuevo{
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
    font-size: 30px; color: aquamarine;
  }
  
  
  @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  
  
  
  .animation {
    animation-duration: 2s;
    animation-name: aparecer;
    animation-fill-mode: both;
  }
  
  
  @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  